.movieDetailsContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.image {
    max-width: 300px;
    border-radius: 10px;
}

.movieDetailsContainer div {
    max-width: 600px;
}

.movieDetailsContainer h2 {
    margin-top: 0;
}