.castReviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* Space between Cast and Reviews sections */
    padding: 20px;
}

.castSection,
.reviewsSection {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* For Cast section */
.castSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.castSection li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.castSection li p {
    margin: 5px 0;
}

.castList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.castList li {
    margin-bottom: 15px;
}

.castList li p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.castList li p:first-of-type {
    font-weight: bold;
}
